<div class="bordered compare-card">
    <h2 mat-dialog-title>Select an Exchange Rate to Track</h2>
    <mat-dialog-content class="mat-typography">
          <div>
            <div style="display: inline-block; float: left; margin: 10px;">
                <mat-form-field appearance="fill">
                    <mat-label>From Currency</mat-label>
                    <select class="fromCurr" matNativeControl required [(ngModel)]="data.fromCurr">
                        <option value="BTC">BTC</option>
                        <option value="ETH">ETH</option>
                        <option value="XRP">XRP</option>
                        <option value="LTC">LTC</option>
                        <option value="BCH">BCH</option>
                        <option value="ETC">ETC</option>
                    </select>
                </mat-form-field>
            </div>
              <div style="display: inline-block; float: left; margin: 10px;">
                <mat-form-field appearance="fill">
                    <mat-label>To Currency</mat-label>
                    <select class="toCurr" matNativeControl required [(ngModel)]="data.toCurr">
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                        <option value="EUR">EUR</option>
                        <option value="JPY">JPY</option>
                        <option value="ZAR">ZAR</option>
                    </select>
                </mat-form-field>
            </div>
          </div>
    </mat-dialog-content>
    
    <mat-dialog-actions>
      <button mat-button mat-dialog-close [mat-dialog-close]="false">Cancel</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add</button>
    </mat-dialog-actions>
</div>
