<div *ngFor="let card of cards; let i = index">
    <mat-card class="bordered compare-card">
        <mat-card-title>
            <div>
                <div>
                    <p style="float: left;">{{card.fromCurr}}</p>
                    <p style="float: right;">{{card.toCurr}}</p>
                </div>
            </div>
            <mat-icon class="remove-button" aria-hidden="false" (click)="removeCard(card.fromCurr, card.toCurr)">clear</mat-icon>
        </mat-card-title>
        <mat-card-content class="center" style="margin-top: -15px !important;">
            {{card.exchangeRate !== undefined ? '1 ' + card.fromCurr + ' = ' : 'Loading...' }} <span style="color: #53bff0; font-size: 30px;">{{card.exchangeRate}}</span>{{card.exchangeRate !== undefined ? ' ' + card.toCurr: ''}}
            <mat-divider class="divider center"></mat-divider>
            <div [chart]="card.chart" class="chart"></div>
        </mat-card-content>
    </mat-card>
</div>

<div class="center plus-icon">
    <mat-icon class="add-button" aria-hidden="false" (click)="openDialog()">add_circle_outline</mat-icon>
</div>