.compare-card {
    background-color: rgba($color: #2c2c2c, $alpha: 0.2);
    backdrop-filter: blur(10px);
    height: 40%;
    width: 31%;
    margin: 20px;
    float: left;
    color: white;
    padding: 2%;
}

@media (max-height: 800px) {
  .compare-card {
    background-color: rgba($color: #2c2c2c, $alpha: 0.2);
    backdrop-filter: blur(10px);
    height: 30%;
    width: 31%;
    margin: 20px;
    float: left;
    color: white;
    padding: 2%;
  }
}

@media (max-height: 600px) {
  .compare-card {
    background-color: rgba($color: #2c2c2c, $alpha: 0.2);
    backdrop-filter: blur(10px);
    height: 40%;
    width: 20%;
    margin: 20px;
    float: left;
    color: white;
    padding: 2%;
  }
}

.plus-icon {
  width: 31% !important;
  float: left;
  padding-top: 5%;
}

::ng-deep mat-icon.add-button {
  color: rgba($color: #c4c4c4, $alpha: 0.7) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 300px;
  font-size: 200px !important;
  width: auto !important;
  height: auto !important;
  cursor: pointer;
}

::ng-deep mat-icon.add-button:hover {
  color: rgba($color: #ffffff, $alpha: 0.7) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 300px;
  font-size: 200px !important;
  width: auto !important;
  height: auto !important;
  cursor: pointer;
}


::ng-deep mat-icon.remove-button {
  font-size: 20px; 
  float: right; 
  margin-top: -7%; 
  margin-right: -16%;
}

::ng-deep mat-icon.remove-button:hover {
  font-size: 20px; 
  float: right; 
  margin-top: -7%; 
  margin-right: -16%;
  cursor: pointer;
}


  .bordered {
  border-top: 5px solid #f9a52d;
  border-bottom: 5px solid #c56422;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  -webkit-background-size: 5px 100%;
  -moz-background-size: 5px 100%;
  background-size: 5px 100%;
  background-image: -webkit-linear-gradient(top, #f9a52d 0%, #c56422 100%), -webkit-linear-gradient(top, #f9a52d 0%, #c56422 100%);
  background-image: -moz-linear-gradient(top, #f9a52d 0%, #c56422 100%), -moz-linear-gradient(top, #f9a52d 0%, #c56422 100%);
  background-image: -o-linear-gradient(top, #f9a52d 0%, #c56422 100%), -o-linear-gradient(top, #f9a52d 0%, #c56422 100%);
  background-image: linear-gradient(to bottom, #f9a52d 0%, #c56422 100%), linear-gradient(to bottom, #f9a52d 0%, #c56422 100%);
}

.center {
  margin: auto !important;
  // width: 50% !important;
  text-align: center !important;
}

.divider { 
  margin-top: 6% !important;
  width: 99% !important;
  background: rgb(134, 134, 134) !important;
  position: relative !important;
}

.chart {
  margin-top: 5%
}

::ng-deep mat-dialog-container {
  background-color: #1a1a1a !important;
  color: white !important;
}

::ng-deep div.cdk-overlay-container > div.cdk-global-overlay-wrapper { 
  background-color: rgba($color: #929292, $alpha: 0.2);
  backdrop-filter: blur(10px);
}

::ng-deep .mat-form-field-flex {
  background-color: #929292 !important;
}

::ng-deep snack-bar-container {
  color: white !important;
}